/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* main styling */
html,
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.7em;
  color: #333;
}

h1,
h2,
h3 {
  padding-bottom: 20px;
}

a {
  color: #333;
  text-decoration: none;
}

p {
  padding-bottom: 20px;
}

/* utility styling */
.container {
  max-width: 1100px;
  margin: auto;
  overflow: auto;
  padding: 0 20px;
}

.text-primary {
  color: #f7c08a;
}

.lead {
  font-size: 20px;
}

.btn {
  display: inline-block;
  color: #fff;
  background-color: #333;
  padding: 13px 20px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  color: #333;
  background-color: #f7c08a;
}

/* navbar */
#navbar {
  background-color: #333;
  color: #f4f4f4;
  overflow: auto;
}

#navbar a {
  color: #f4f4f4;
}

#navbar h1 {
  float: left;
  padding: 20px 0;
}

#navbar ul {
  list-style: none;
  float: right;
}

#navbar ul li {
  float: left;
}

#navbar ul li a {
  display: block;
  padding: 20px;
  text-align: center;
}

#navbar ul li a:hover {
  background-color: #444;
  color: #ff8833;
}

/* showcase */

#showcase {
  background: url("../img/showcase.jpg") no-repeat center center/cover;
  height: 600px;
}

#showcase .showcase-content {
  color: #fff;
  padding-top: 170px;
  text-align: center;
}

#showcase .showcase-content h1 {
  font-size: 60px;
  line-height: 1.2em;
}

#showcase .showcase-content p {
  padding-bottom: 20px;
  line-height: 1.7em;
}
